<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="musicplayer.party">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".personalization.host.FilterArtistPreferenceService" />
        <service android:name=".personalization.host.FilterTrackPreferencesService" />
        <service android:name=".personalization.host.HostPersonalizationService" />
        <service android:name=".personalization.host.UpdateArtistParametersService" />
        <service android:name=".personalization.host.UpdateTrackParametersService" />
        <service android:name=".personalization.playlistUpdate.CreatePlaylistService" />
        <service android:name=".spotifyService.SpotifyRetrieveUserInfoService" />
        <service android:name=".personalization.playlistUpdate.AddTracksService" />
        <service android:name=".personalization.playlistUpdate.RecommedationService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".spotifyService.InstructionActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".spotifyService.SpotifyRetrieveArtists" />
        <activity android:name=".PartyHome" />
        <activity android:name=".spotifyService.SpotifyRetrieveTracks" />
        <activity android:name=".personalization.playlistUpdate.CreatePlaylistService" />
        <activity android:name=".personalization.playlistUpdate.AddTracksService" />
        <activity android:name=".mediaPlayer.PlayTracks"></activity>
    </application>

</manifest>