<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="musicplayer.party">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Personalization.Host.FilterArtistPreferenceService" />
        <service android:name=".Personalization.Host.FilterTrackPreferencesService" />
        <service android:name=".Personalization.Host.HostPersonalizationService" />
        <service android:name=".Personalization.Host.UpdateArtistParametersService" />
        <service android:name=".Personalization.Host.UpdateTrackParametersService" />
        <service android:name=".Personalization.PlaylistUpdate.CreatePlaylistService" />
        <service android:name=".SpotifyService.SpotifyRetrieveUserInfoService" />
        <service android:name=".Personalization.PlaylistUpdate.AddTracksService" />
        <service android:name=".Personalization.PlaylistUpdate.RecommedationService" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpotifyService.InstructionActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SpotifyService.SpotifyRetrieveArtists" />
        <activity android:name=".PartyHome" />
        <activity android:name=".SpotifyService.SpotifyRetrieveTracks" />
        <activity android:name=".Personalization.PlaylistUpdate.CreatePlaylistService" />
        <activity android:name=".Personalization.PlaylistUpdate.AddTracksService"></activity>
    </application>

</manifest>